* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}

body {
 background: #313136;
 
}

/*nav section start*/

.navber {
 
width: 100%; 
height: 70px;
background: linear-gradient(#D158DF, #935DEE,#52115A);
 margin-top: 2px;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 
 border-radius: 100px;
 font-size: large;
 font-weight: bold;
 font-family: Times New Roman; 
 
 
}

li{
 display: inline-block;
 justify-content: space-between;
 padding : 20px;
 
 
 
}

li a {
 text-decoration: none;
 color: white;
 
 
}

/*nav section end*/

/*home section start*/

#logo {
 width: 80px; 
 height: 80px ;
 border-radius: 50%;
border: inset 5px rebeccapurple; 
 
}
.di {
 display: flex;
 justify-content: center;
  

}


.text {
width: 96%; 
height: 300px;
background: linear-gradient(#F3F3F4,#F4E3E3,#E3C0E3) ;
 margin: 0 auto;
 border-radius: 20px;
 
 border: double 9px ;
 
}

#abc {
text-align: center; 
margin-top: 7px;
font-size: 24px;
font-family: monospace;
 
}

#efg {
 padding: 5px;
 text-align: center;
 font-family: georgia;
 
}
/*home section end*/

/* app section start*/

.appbox {
 width: 96%;
 height: 490px;
 
 width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;

}

.conbox {
 display: flex;
 justify-content: center;
 
}

.icons {
 width: 75px;
 height: 75px;
 text-align: center;
 border-radius: 20px;
 margin-top: 5px;
 border: groove 5px #D817BD;
}

.icons:hover {
 width: 80px;
 height: 80px;
 
}

#vid {
 border: #C398E0 5px double ;
 border-radius: 50%;
 
}
#call{
 border: #E2E7DC 5px solid;
 border-radius: 30%;
 
}

.typ {
 color: #FFFFFF;
 text-align: center;
 margin-top: 4px;
 font-family: fantasy;
 font-weight: bold;
}

